    <%= form_with(model: email) do |form| %>
      <% if email.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

          <ul>
            <% email.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <%if email.new_record?%>
          <div class="col-4">
            <%= form.label :sent_to, style: "display: block",class: 'd-flex align-item-right' %>
            <%= form.select :receiver_ids, User.all.pluck(:name,:id), { include_blank: false },{ multiple: true , class:"select-2"} %>
          </div>
          <div class="col-4">
            <%= form.label :groups, style: "display: block" %>
            <%= form.select :group_ids,Group.all.pluck(:name,:id), { include_blank: false },{ multiple: true , class:"select-2"} %>
        </div>
        <%end %>
      </div>
      <hr>
      <div class = "row">
         <%= form.label :subject , style: "display: block", class: 'd-flex align-item-right'%>
        <div class="col-12 d-flex align-item-right">
          <%= form.text_field :subject %>
        </div>
      </div>
      <hr>
      <div class='row'>
        <%= form.label :description, style: "display: block", class: 'd-flex align-item-right' %>
        <div class="col-12">
          <%= form.cktext_area :description %>
        </div>
        
        <div class="mt-2">
          <%= form.submit %>
        </div>
      </div>
    <% end %>
<script>
 $('.select-2').select2();
</script>

  
