<div class="d-flex justify-content-start card text-center">
  <div class="card-body">
    <h5 class="card-title">Search</h5>
    <%= search_form_for @q do |f| %>
      <%= f.search_field :subject_or_description_or_receivers_email_cont %>
      <%= f.submit %>
    <% end %>
    <hr>
     <table class="table ">
        <tr>
          <th scope="col"> Send By </th>
          <th scope="col"> Subject </th>
          <th colspan="3"> Action </th>
        </tr>

        <% @emails.each do |email| %>
        <tr>
          <td><%= link_to email.sent_by.name, email %></td>
          <td><%= email.subject%></td>
          <td><%=link_to(image_tag("delete.svg"), email_path(email),method: :delete) %></td>
          <td><%=link_to(image_tag("#{email.important ? 'fill-star.svg' : 'star.svg'}", class:"important_mail"),update_important_emails_email_path(email)) %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>

<script>


</script>